@page
@model IndexModel
@{
    Layout = null;
}


<html>
<head>
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

    <img src="~/images/logo.png" class="logo"/>
    <div class="location-subject">

        <div class="box currentlocation">
            <p class="header">Current Location</p>
            <p id="address" class="header-info"> Current address </p>
            <p id="location" class="header-info"> Building </p>
        </div>


        <div class="box lecture">
            <p class="header">Lecture now</p>
            <p class="header-info"> COMPSCI101 </p>
            <p class="header-info"> Science Building </p>
        </div>

    </div>

    <button class=" btn" style="
    margin: 0 auto;
    display:block;
    width: 20%;
    font-size:  200%;
    margin-top:50px;
    background-color:  #4db8ff;
    color:white;
    ">
        Check in
    </button>


    <p id="demo" style="position:absolute;"></p> 



    @*<p>Click the button to get your coordinates.</p>

    <button onclick="getLocation()">Try It</button>

    <p id="address"> Current address </p>
    <p id="location"> Building </p>*@
</body>
</html>


<script>
    var x = document.getElementById("demo");
    var mylocation = document.getElementById("location");
    var lat = "";
    var lng = "";
    var currentlocation = "";
    var proper_address = document.getElementById("address");

    getLocation();


    function getLocation() {
        console.log("lmao");
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition); //getting current co-ordinates
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        //x.innerHTML = "Latitude: " + position.coords.latitude +
        //    "<br>Longitude: " + position.coords.longitude;
        lat = position.coords.latitude;             //current latitude
        lng = position.coords.longitude;            //current longitude
        console.log(lat);
        console.log(lng);
        getCurrentLocation();
    }

    function getCurrentLocation() {     //get name from our coordinates
        var urlapi = "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + lng + "&sensor=true"; //api
        var xhr = new XMLHttpRequest();
        xhr.open("GET", urlapi, true);
        xhr.onload = function () {
            var locationJSON = JSON.parse(xhr.responseText);
            //console.log(xhr.responseText);        //prints the json string
            //console.log(locationJSON.results[0].address_components[0]);
            var get_nickname_dictionary = locationJSON.results[0].address_components[0]; //this variable gives us  dictionary
            //console.log(address["long_name"]); //prints the location name
            var get_address_dictionary = locationJSON.results[2].address_components[0];


            get_address_dictionary = get_address_dictionary["long_name"];

            currentlocation = get_nickname_dictionary["long_name"];  //THIS IS THE NAME OF CURRENT LOCATION FROM CO-ORDINAATES
            console.log(currentlocation);
            mylocation.innerHTML = currentlocation; //puts this into frontend

            console.log(get_address_dictionary); //print proper address of current location from co-ordinates
            proper_address.innerHTML = get_address_dictionary;
        }
        xhr.send(null);
    }





</script>